.honrix-settings {
  margin-right: 20px;
  border: 1px solid #2b8cca;
  border-radius: 15px;
  overflow: hidden;
}
.honrix-settings h1 {
  background: #2b8cca;
  padding: 15px;
  margin: 0;
  color: #fff;
}

.honrix-settings h3 {
  margin-top: 0;
}

.honrix-settings form {
  padding: 15px;
}

.honrix-settings .setting {
  margin-bottom: 15px;
}

.honrix-settings .setting > div {
  margin-bottom: 10px;
}

.honrix-settings .submit {
  text-align: right;
  margin: 0;
}

/* .honrix-settings label {
  display: block;
} */
